.column-text {
  width: 100%;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 10px;
  }

  &-title {
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 0;
  }

  &-content {
    text-align: justify;
    font-size: 15px;
    margin: 0;
    padding: 10px;
  }

  &-icon {
    width: 100px;
  }

  @media screen and (min-width: 1023px) {
    width: 300px;
    margin-bottom: 0;

    &-icon {
      width: auto;
    }

    &-title {      
      margin: 20px 0;
    }

    &-content {
      font-size: 20px;
      padding: 0;
    }
  }
}
