.more-info {
  display: flex;
  align-items: center;
  flex-direction: column;

  &-title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #39a4b2;
    font-weight: bold;
    font-size: 20px;

    &:link {
      text-decoration: none;
    }

    &:hover {
      cursor: pointer;
      color: #016e7c;
    }
  }

  &-line {
    margin: 10px 0;
    width: 200px;
  }

  svg {
    width: 24px;
  }

  @media screen and (min-width: 1023px) {
    &-line {
      margin: 20px 0;
    }
  }
}
