.job-list {
  padding: 10px;

  &-title {
    text-align: left;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 15px;
  }

  &-wrapper {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &-neighborhood {
      font-size: 15px;
    }

    &-role {
      font-weight: bold;
      color: #359ca8;
      text-transform: capitalize;
      text-decoration: none;
      font-size: 15px;

      &:hover {
        cursor: pointer;
        color: #016e7c;
      }
    }
  }

  @media screen and (min-width: 1023px) {
    padding: 0;

    &-title {
      font-size: 20px;
      margin: 30px 0;
    }

    &-item {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 15px;

      &-role,
      &-neighborhood {
        font-size: 18px;
      }
    }
  }
}
